/* Select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header, main, footer */
header, main, footer {
    min-width: 100%;
}
/* Header */
header {
    display: inline-flex;
    justify-content: space-between;
    background-color:black;
}

header, .menu-list {
    display: inline-flex;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin-bottom: 15px;
    color: orange;
}

#home, #education, #project, #contact, #skillsandinterest {
    text-align: center;
    margin-bottom: 15px;
    color: lime;
}
.logo {
    width: 7em;
}

.profile {
  border-radius: 80px;
  padding: 20px;
  width: 4r0px;
  height: 500px;
}

.menu {
    margin-left: auto;
    align-self: center;
  }
  .menu-list li {
  padding: 0 5px;
  }
  .menu-list {
      list-style: none;
  }